@mixin nav--span {
    color: #FBFCFE;
    font-family: "Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    cursor: pointer;
}

@mixin nav--link {
    color: #36536B;
    font-family: "Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}